.bro{
    border-bottom: 2px solid blue;
    margin-right: 10px;
}
nav a{
    text-decoration: none;
}
.cr{
    width: 100%;
}
.lin{
    text-decoration: none;
    color: black;
}
.lin:hover{
    color: black;
}
.gr{
    color:grey;
}

.displ{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.linkpage{
    background-color:#212529;
}
footer{
background-color:    #3e4551;

}
