body{
    background-image: url('../public/image/register.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}



.loginForm{
    width: 40vw;
    margin: 186px auto;
    background-color: none;
    color: white;
}

.btn{
    background-color: #7b3212;
}

.btn:hover{
    background-color: rgb(88, 121, 88);
    color: rgb(220 174 174) !important;
}