body{
    background-image: url('../public/image/register.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}



.loginForm{
    width: 40vw;
    margin: 186px auto;
    background-color: none;
    color: white;
}

.btn{
    background-color: #7b3212;
}

.btn:hover{
    background-color: green;
    color: black !important;
}