
h3{
  padding: 30px;
  color:rgb(94, 99, 97)
}
#container{
    background-color: rgb(231, 228, 224) ; 
    /* height: 880px; */
    box-shadow: 8px 10px 8px 10px #8b8989;
    
}

button:hover{
    background-color:rgb(153, 158, 153);
}
#border{
    outline: none;
    border: 0px solid white;
}
small{
    color:red;
    display: none;
}